<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Chet Baker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Chet Baker</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="work">Trabajos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gallery">Galería</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<body>
    <div id="about-container">
      <div id="about-text">
        <div>
            <h1>Acerca de</h1>
        </div>
        <div>
            <p>(Chesney Henry Baker; Yale, 1929-Ámsterdam, 1988) Trompetista y cantante de jazz estadounidense. Representante del jazz cool, se distinguió por su sonido emocional y lastimero. Destacan en especial sus colaboraciones con el saxofonista Gerry Mulligan. <br>
                En los comienzos de su carrera musical, a principios de los años 50, tocó con el gran Charlie Parker y con el saxofonista Stan Getz. En 1952 ingresó en el cuarteto del saxofonista barítono Gerry Mulligan, con el que obtuvo un gran éxito por su interpretación del tema My Funny Valentine. <br>
                Un año más tarde, Baker fundó su primer cuarteto y realizó grabaciones para la Pacific Jazz, destacado sello jazzístico del momento. Su álbum Chet Baker Sings (1954) obtuvo un éxito resonante gracias a la armoniosa compenetración de su personal estilo a la trompeta con su intimista forma de cantar. <br>
                La industria de Hollywood se fijó en él tanto por su talento musical como por su agradable y atractivo físico, y debutó en el celuloide con la película Hell's Horizon (1955, de Tom Gries). Sin embargo, Baker estaba más interesado en su carrera musical y prefirió volcarse en ella, grabando discos y emprendiendo giras por Europa, hasta que en 1959 se afincó en Italia. <br>
                En los años 60 su carrera se vio oscurecida a causa de su adicción a las drogas, pero logró con todo sacar adelante excelentes grabaciones como Somewhere Over the Rainbow (1962) y Lonely Star (1965), entre otras. <br> 
                Tras haber superado hasta cierto punto su drogodependencia, reapareció públicamente en 1973 y un año después actuó otra vez con Gerry Mulligan en el Carnegie Hall de Nueva York. <br>
                A mediados de esa década volvió a Europa, y a partir de entonces no tuvo residencia fija; siguió actuando y grabando en diversos lugares, a menudo con músicos locales. Algunos de los trabajos más destacados de su última etapa fueron Mr. B. (1983), Blues for a Reason (1984) y Chet's Choice (1985). <br>
                Chet Baker falleció en 1988 en Ámsterdam tras caer desde la ventana de un hotel en circunstancias poco claras.</p>
        </div>
      </div>
      <div>
        <img src="/images/young chet playing.jpg" alt="">
      </div> 
    </div>
</body>
</html>