<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work of Chet Baker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Chet Baker</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="work">Trabajos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gallery">Galería</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<body>
    <h1 id="work-title">Algunos de sus álbumes más destacados</h1>
    <section class="bg-light py-4 my-5">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-4">
                  <div class="card my-3">
  
                      <img src="/images/disco1.jpg" class="card-image-top" alt="Chet Baker sings">
  
                      <div class="card-body">
                          <h3 class="card-title">Chet Baker Sings</h3>
                          <p class="card-text">1954. 14 temas.</p>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                    <img src="/images/disco4.jpg" class="card-image-top" alt="Chet Baker sings">

                    <div class="card-body">
                        <h3 class="card-title">Chet Baker in New York</h3>
                        <p class="card-text">1958. 6 temas.</p>
                    </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                    <img src="/images/disco5.jpg" class="card-image-top" alt="Chet Baker sings">

                    <div class="card-body">
                        <h3 class="card-title">Chet</h3>
                        <p class="card-text">1959. 9 temas.</p>
                    </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                    <img src="/images/disco3.jpg" class="card-image-top" alt="Chet Baker sings">

                    <div class="card-body">
                        <h3 class="card-title">The touch of your lips.</h3>
                        <p class="card-text">1979. 6 temas.</p>
                    </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                    <img src="/images/disco6.jpg" class="card-image-top" alt="Chet Baker sings">

                    <div class="card-body">
                        <h3 class="card-title">Hazy Hugs</h3>
                        <p class="card-text">1985. 10 temas.</p>
                    </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                    <img src="/images/disco2.jpg" class="card-image-top" alt="Chet Baker sings">

                    <div class="card-body">
                        <h3 class="card-title">My Funny Valentine</h3>
                        <p class="card-text">1987. 6 temas.</p>
                    </div>
                </div>
              </div>

          </div>
      </div>
  </section>

</body>
</html>